@media only screen and (max-width: 768px) {
  .header-top__title a,
  .header-top__title p {
    display: none;
  }

  .header-top__langue a {
    display: none;
  }

  .header-top__p p {
    font-weight: 500;
    font-size: 13px;
  }

  .header-menu__flex {
    width: 330px;
  }

  .header-menu__list {
    display: none;
  }

  .header-menu__infomation .icon-none {
    display: none;
  }

  .header-menu__infomation .icon-toggle {
    display: block;
  }
  .header{
    width: 100%;
    margin: auto;
  }
  .main-wrapper{
    max-width: 450px;
    margin: auto;
  }
  .footer-images{
    display: none !important;
  }
}
@media screen and (max-width: 768px){
    .section-wrapper__left p{
        text-wrap: wrap !important;
        width: 330px !important;
    }
    .title-section{
        font-size: 64px !important;
        text-wrap: wrap;
    }
    .section-wrapper__left-content{
        display: none !important;
    }
    .section-wrapper__right-1{
        display: none !important;
    }
    .section-wrapper__right-2{
        display: none;
    }
}
@media (min-width: 1025px) and (max-width: 1680px) {
  .header-menu__infomation .icon-toggle {
    display: none;
  }
}
