<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Đặt lại mật khẩu</title>
    <link rel="stylesheet" href="assets/style.css" />
    <link rel="stylesheet" href="assets/toast.css" />
  </head>
  <body>
    <div class="container">
      <h2>Đặt lại mật khẩu mới</h2>
      <input type="password" id="new-password" placeholder="Mật khẩu mới" />
      <button onclick="updatePassword()">Xác nhận</button>
    </div>

    <div id="toast-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script src="/Components/user/config.js"></script>
    <script src="/Components/user/toast.js"></script>
    <script src="/Components/user/server.js"></script>
  </body>
</html>
